
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">

    <!--满足条件就显示，不满足就不显示-->
    <p v-if="show">要显示出来</p>
    <p v-if="hide">不要显示出来</p>
    <p v-if="height>1.55">身高：{{height}}</p>
    <p v-if="height1>1.55">身高：{{height}}</p>

</div>


<script src="js/vue.js"></script>
<script>

    let vm = new Vue({
        el: "#app",
        data: {
            message: "hello,world",
            show: true,
            hide: false,

            height: 1.68,
            height1: 1.55
        }
    })

</script>
</body>
</html>